/*------------FUENTES---------------*/
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:ital@1&display=swap");
@font-face {
  font-family: roadRage;
  src: url(../fuente/roadRage.otf);
}
/*------------HEADER---------------*/
.logotipo {
  width: 150px;
}

h1 {
  display: inline;
  font-size: 50px;
  font-family: roadRage;
  color: black;
  padding: 15px;
}

.iconos-redes-header {
  width: 40px;
  padding: 5px;
}

.botonHamburguesa {
  height: 5rem;
  width: 5rem;
}

/*------------MAIN------------------*/
.polos {
  padding-top: 40px;
}

.card p {
  font-size: 25px;
  margin: 10px;
  color: #888;
}

/*------------CARRUSEL---------------*/
.carrusel {
  padding-top: 30px;
}

.carousel-caption {
  position: absolute;
  top: 30%;
  bottom: 1.25rem;
  left: 8%;
  padding-top: 1.25rem;
  padding-bottom: 10px;
  color: #1F222A;
  text-align: left;
}

/*------------REDES---------------*/
.redes {
  text-align: center;
  margin-bottom: -30px;
  padding-bottom: 30px;
}

.sociales li {
  list-style: none;
  display: inline-block;
}
.sociales li a {
  padding: 10px;
}

/*------------UBICACION POR GOOGLE---------------*/
.mapa {
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-container {
  justify-content: center;
  align-items: center;
}

/*------------DESCUENTO---------------*/
.descuento {
  background-color: #ede734;
  height: 180px;
  width: 100%;
  position: relative;
}

/*------------MIXIN------------------*/
/*------------FOOTER---------------*/
.creado {
  text-align: center;
  color: black;
  padding-bottom: 50px;
  font-size: 20px;
}

.derechos {
  text-align: center;
  color: black;
  padding-bottom: 50px;
  font-size: 20px;
}

.pie {
  text-align: center;
  color: black;
  padding-bottom: 50px;
  font-size: 60px;
  font-family: roadRage;
  margin-bottom: -30px;
}

/*------------CONTACTO---------------*/
form {
  width: 60%;
  margin: auto;
  text-align: left;
  color: #0694DB;
  border-radius: 10px;
  background-color: #F5F5F5;
  margin-bottom: 200px;
}

label {
  display: block;
  margin-top: 20px;
  font-size: 18px;
  padding-top: 30px;
}

input[type=text] {
  display: block;
  width: 100%;
  padding: 12px 20px;
  margin-top: 8px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
}

input[type=email] {
  display: block;
  width: 100%;
  padding: 12px 20px;
  margin-top: 8px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
}

textarea {
  display: block;
  width: 100%;
  padding: 12px 20px;
  margin-top: 8px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
}

input[type=submit] {
  background-color: #0694DB;
  color: white;
  padding: 14px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=reset] {
  background-color: #0694DB;
  color: white;
  padding: 14px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 40px;
}

.tallas {
  padding-top: 30px;
}

/*------------MEDIA---------------*/
@media (min-width: 1400px) {
  .btn {
    font-size: 2rem;
  }
  .carousel-caption h2 h4 {
    font-size: 3rem;
  }
  .txth2 {
    font-size: 60px;
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    color: black;
    padding-bottom: 30px;
  }
  .txtindexh2 {
    font-size: 60px !important;
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    color: black;
    margin-top: 50px;
    padding-bottom: 30px;
  }
  .descuento p {
    font-size: 20px !important;
    padding-top: 80px;
  }
  .descuento a {
    font-size: 20px !important;
    top: 80px;
    right: 1000px;
  }
  .imagenGaleria {
    filter: grayscale(50%);
    transition: all 0.3s ease;
  }
  .imagenGaleria:hover {
    filter: grayscale(0%);
    transform: scale(1.03);
  }
  .txtp {
    font-size: 50px;
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    color: black;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .map-container {
    width: 90%;
  }
}
@media (min-width: 1200px) {
  .btn {
    font-size: 25px;
  }
  .carousel-caption h2 h4 {
    font-size: 3rem;
  }
  .txth2 {
    font-size: 60px;
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    color: black;
  }
  .txtindexh2 {
    font-size: 60px;
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    color: black;
  }
  .txtp {
    font-size: 50px;
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    color: black;
    padding-top: 40px;
    padding-bottom: 30px;
  }
  .descuento p {
    font-size: 20px;
    padding-top: 80px;
    padding-left: 50px;
  }
  .descuento a {
    font-size: 20px;
    top: 80px;
    right: 100px;
    position: absolute;
  }
  form {
    width: 70%;
  }
  .map-container {
    width: 90%;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
  .txth2 {
    font-size: 60px;
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    color: black;
  }
  .txtindexh2 {
    font-size: 60px;
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    color: black;
  }
  .txtp {
    font-size: 50px;
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    color: black;
  }
  .btn {
    font-size: 1rem;
  }
  .carousel-caption h2 h4 {
    font-size: 2rem;
  }
  .descuento p {
    font-size: 18px;
    padding-top: 80px;
    padding-left: 10px;
  }
  .descuento a {
    font-size: 14px;
    top: 80px;
    right: 40px;
    position: absolute;
  }
  .polos {
    padding-top: 40px;
  }
  .pMujeres {
    padding-top: 60px;
  }
  form {
    width: 90%;
  }
  .map-container {
    width: 90%;
  }
}
@media (min-width: 600px) and (max-width: 899px) {
  .textoH2 {
    font-size: 24px !important;
    text-align: center !important;
    margin-bottom: 10px;
    margin-top: -30px;
    padding-bottom: 20px;
    color: #1F222A;
    -webkit-text-stroke: 0.2px white;
  }
  .textoH4 {
    font-size: 24px !important;
    text-align: center !important;
    margin-bottom: -30px;
    color: #1F222A;
    -webkit-text-stroke: 0.2px white;
  }
  .boton {
    font-size: 90% !important;
    text-align: center !important;
    width: 100%;
    display: block;
    margin-top: 50px;
    position: relative;
  }
  .txth2 {
    font-size: 45px;
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    color: black;
  }
  .txtindexh2 {
    font-size: 45px;
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    color: black;
  }
  .txtp {
    font-size: 30px;
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    color: black;
  }
  .polos {
    padding-top: 50px;
  }
  .descuento p {
    font-size: 18px;
    text-align: center;
    padding-top: 60px;
  }
  .descuento a {
    font-size: 90%;
    top: 120px;
    position: absolute;
    width: 100%;
    display: block;
  }
  form {
    width: 90%;
  }
  .map-container {
    width: 90%;
  }
}
@media (min-width: 350px) and (max-width: 599px) {
  .textoH2 {
    font-size: 16px !important;
    text-align: center !important;
    margin-bottom: 10px;
    padding-bottom: 20px;
    margin-top: -50px;
    color: #1F222A;
    -webkit-text-stroke: 0.2px white;
  }
  .textoH4 {
    font-size: 16px !important;
    text-align: center !important;
    margin-bottom: -30px;
    color: #1F222A;
    -webkit-text-stroke: 0.2px white;
  }
  .boton {
    font-size: 12px !important;
    text-align: center !important;
    width: 100%;
    display: block;
    margin-top: 40px;
  }
  .txth2 {
    font-size: 35px;
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    color: black;
  }
  .txtindexh2 {
    font-size: 35px;
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    color: black;
  }
  .txtp {
    font-size: 25px;
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    color: black;
  }
  .polos {
    padding-top: 40px;
  }
  .pMujeres {
    padding-top: 60px;
  }
  .descuento p {
    font-size: 90%;
    text-align: center;
    padding-top: 60px;
  }
  .descuento a {
    width: 100%;
    font-size: 90%;
    top: 120px;
    display: block;
    position: absolute;
  }
  .botonHamburguesa {
    height: auto;
  }
  form {
    width: 90%;
  }
  .map-container {
    width: 90%;
  }
}
@media (max-width: 349px) {
  .textoH2 {
    font-size: 13px !important;
    text-align: center !important;
    margin-bottom: 10px;
    margin-top: -50px;
    color: #1F222A;
    -webkit-text-stroke: 0.2px white;
  }
  .textoH4 {
    font-size: 14px !important;
    text-align: center !important;
    margin-bottom: -30px;
    color: #1F222A;
    -webkit-text-stroke: 0.2px white;
  }
  .boton {
    font-size: 80% !important;
    text-align: center !important;
    width: 100%;
    display: block;
    margin-top: 40px;
  }
  .txth2 {
    font-size: 30px;
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    color: black;
  }
  .txtindexh2 {
    font-size: 30px;
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    color: black;
  }
  .txtp {
    font-size: 20px;
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    color: black;
  }
  .polos {
    padding-top: 40px;
  }
  .pMujeres {
    padding-top: 60px;
  }
  .descuento p {
    font-size: 90%;
    text-align: center;
    padding-top: 30px;
  }
  .descuento a {
    width: 100%;
    font-size: 90%;
    top: 110px;
    display: block;
    position: absolute;
  }
  form {
    width: 90%;
  }
}

/*# sourceMappingURL=style.css.map */
