

/*------------CONTACTO---------------*/

form {
	width: 50%;
	margin: auto;
	text-align: left;
	color: $color_2;
	border-radius: 10px;
	background-color: $background-color_1;
	margin-bottom: 200px;
}
label {
	display: block;
	margin-top: 20px;
	font-size: 18px;
	padding-top: 30px;
}
input[type="text"] {
	@include cien;   
	margin-top: 8px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 18px;
}
input[type="email"] {
	@include cien;
	margin-top: 8px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 18px;
}
textarea {
	@include cien;
	margin-top: 8px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 18px;
}
input[type="submit"] {
	@include relec;
	padding: 14px 20px;
	margin-top: 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
input[type="reset"] {
	@include relec;
	padding: 14px 20px;
	margin-top: 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 40px;
}

.tallas {
	padding-top: 30px;
}