/*------------FOOTER---------------*/

.derechos {
    text-align: center;
    color: $color_1;
    font-size: 20px;
}

.pie {
    text-align: center;
    font-size: 60px;
    font-family: $font-family_1;
    color: $color_1;
    margin-bottom: -30px;
}