/*------------HEADER---------------*/

.logotipo {
    width: 150px;
}

h1 {
    display: inline;
    font-size: 50px;
    font-family: $font-family_1;
    color: $color_1;
    padding: 15px;
}

.iconos-redes-header {
    width: 40px;
    padding: 5px;
}

.botonHamburguesa {
    height: 5rem;
    width: 5rem;
}
