/*------------UBICACION POR GOOGLE---------------*/

.mapa {
    

    display: flex;
    justify-content: center;
    align-items: center;
}

.map-container {
  
    justify-content: center;
    align-items: center;
}