$color_1: black;
$color_2: #0694DB;
$color_3: #1F222A;
$color_4: white;
$background-color_1: #F5F5F5;
$background-color_2: #0694DB;
$font-family_1: roadRage;
$font-family_2: 'Sofia Sans Extra Condensed', sans-serif;